* { /* GLOBAL */
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto',sansserif;
  }

  ul {
    list-style: none;
  }
  
  /* FONTES */
  h1,h2,h3, .price {
    font-family: 'Roboto Serif' , serif ;
    text-transform: uppercase;
    color: #2D2C2A;
  } 
  
  /* CABEÇALHO */
  header {
    padding: 32px 0;
    text-align: center;
  }
  
  header,
  section {
    max-width: 320px;
    border: 2px ;
    margin: 0 auto;
  }
  
  header h1 {
    margin-bottom: 10px;
    line-height: 50px;
    background-color: #fff4f400; /*Cor de fundo do Título*/
  }
  
  
  header h1  {
    color: #ffffff;
    text-decoration: underline; /*Sublinhado do título*/
  }
  header p {
    color: white /*Escrita das horas*/
  }

  h3{
    color: azure;
    text-decoration: underline;
  }
  
  /* SECTION */
  section {
    margin-bottom: 24px;
  }
  
  
  section{
    color:aliceblue  /*Cor das escritas dos resumos da segumda section*/
  }

  section h2 {
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;
  
    margin-bottom: 24px;
    font-size: 18px;
  }
  /* LISTA */
  ul li {
    margin-bottom: 16px;
    display: flex;
  }
  
  li .details {
    max-width: 240px;
  }
  
  .details h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 21px;
  }
  
  .details p {
    color: rgba(0,0,0,0, 0.6);
    font-size: 14px;
    line-height: 21px;
  } 
  